.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    .top-header {
        background: $color-1;
        .top-right {
            ul {
                padding: 20px 0 16px;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                li {
                    list-style: none;
                    font-size: 15px;
                    line-height: 100%;
                    font-weight: 500;
                    color: $white;
                    margin-right: 55px;
                    &:last-child {
                        margin-right: 0;
                    }
                    i {
                        margin-right: 11px;
                    }
                }
            }
        }
    }
    .bottom-header {
        background: $color-2;
        &.fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0px 10px 20px 0px rgba($black, 0.1);
            .logo {
                top: 0;
                padding: 10px 0;
                &:after {
                    box-shadow: 0px 10px 20px 0px rgba($black, 0.1);
                }
            }
        }
        .logo {
            position: absolute;
            top: -52px;
            width: 120px;
            text-align: center;
            padding: 30px 0;
            z-index: 2;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -50px;
                right: -50px;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                border-bottom: 52px solid $color-2;
                opacity: 0.2;
                z-index: -1;
            }
            &:after {
                content: "";
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
                bottom: -19px;
                background: $white;
                border-radius: 0 0 12px 10px;
                transform: skewY(15.5deg);
                z-index: -1;
            }
        }
        .navbar {
            padding: 0;
            padding-left: 9px;
            .navbar-nav {
                .nav-item {
                    padding: 29px 54px 25px 0;
                    &:last-child {
                        padding-right: 0;
                    }
                    &.dropdown {
                        .dropdown-menu {
                            display: block;
                            margin-top: 0;
                            border: 0;
                            border-radius: 0;
                            padding: 0;
                            width: 220px;
                            box-shadow: 0px 10px 30px 0px rgba($black, 0.15);
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s ease-in;
                            .dropdown-item {
                                font-size: 16px;
                                line-height: 100%;
                                font-weight: 500;
                                color: $black-2;
                                padding: 0 20px;
                                border-bottom: 1px solid rgba($black, 0.10);
                                transition: all 0.3s ease-in;
                                &:last-child {
                                    border-bottom: 0;
                                }
                                &:hover {
                                    background: transparent;
                                    color: $color-1;
                                }
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                visibility: visible;
                                .dropdown-item {
                                    padding: 20px;
                                }
                            }
                        }
                    }
                    .nav-link {
                        padding: 0;
                        font-size: 18px;
                        line-height: 100%;
                        font-weight: 600;
                        color: $white;
                        position: relative;
                        &:hover {
                            color: $color-1;
                        }
                    }
                }
            }
        }
        .side-bar-btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            button {
                padding: 0;
            }
        }
    }
}